*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .box{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        margin: 1rem;
        padding: 0.5rem;
        line-height: 2rem;
        width: 18rem;
        height: 22rem;
        border: #dadada 1px solid;
        border-radius: 6px;
        gap: 0.5rem;
        
    }
    .post{
        color: rgb(2, 31, 93);
        font-size: 1.35rem;
        padding-left: 0.5rem;
        font-weight: 600;
    }
    .faculty{
        font-size: 1.75rem;
        padding: 0.4rem;
        color: black;
        border-radius: 50%;
        border: 1px solid rgb(145, 143, 143);
    }
    .user-img{
        border: none;
        border-radius: 5px;
        /* width: 80% */
        width: 150px;
        height: 200px;
        margin: 0.5rem;
        
    }
    .user-name{
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        width: 100%;
        margin-left: 0.5rem;
    }
    .club{
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .club-info{
        color: rgb(6, 0, 0);
        height: auto;
        margin-top: 2.5rem;
        gap: 2rem;
        padding: 0 3rem 0 3rem ;
        font-size: 1.10rem;
        line-height: 2rem;
        text-align: center;
    }
